.product-table {
    position: relative;
    overflow: auto;
    max-height: 500px;
    min-width: 99%;
}

.product-table thead th { position: sticky; top: 0; z-index: 1; background:#eee}


table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }

.main {
    height: 70.25%;
  }