@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body{
    font-family: Raleway, sans-serif;
}
@media (max-width : 700px){
    .carousel-inner{
        height: auto !important;
    }
}

.imagecrd {
    width: 375px; 
    height: 375px;
}

.cardwidth {
    width: 18rem;
}

.crdimagesize {
    width:286px; 
    height: 180px;
}
