 .user-table{
    position: relative;
    overflow: scroll;
    max-height: 75%;
    min-width: 99%;
}
a:link.name {
    color:black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited.name {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover.name {
    color:black;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active.name {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
